nav {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  padding-top: 22px; //CONST-KHU-332
  padding-bottom: 22px; //CONST-KHU-332
  height: var(--navbar-height);
  @media (max-width: 768px) {
    padding-top: 0px; //CONST-LLU-832
    padding-bottom: 0px; //CONST-LLU-832
  }
  transition: 300ms;
}
.navBarLink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  position: relative;
  gap: 96px;
}
