nav {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 22px; //CONST-KHU-332
  padding-bottom: 22px; //CONST-KHU-332
  height: var(--navbar-height);
  @media (max-width: 768px) {
    padding-top: 0px; //CONST-LLU-832
    padding-bottom: 0px; //CONST-LLU-832
  }
  transition: 300ms;
}
.navBarLeftItems {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  position: relative;
  gap: 96px;
  .navBarLogo {
    order: 1;
    display: flex;
    align-items: center;
    @media (max-width: 1200px) {
      order: 2;
      position: absolute;
      right: 0;
      transform: translateX(-50%);
      .logoNavBar {
        height: 48px !important;
      }
    }
    @media (max-width: 768px) {
      transform: translateX(50%);
      .logoNavBar {
        height: 32px !important;
      }
    }
    @media (max-width: 320px) {
      .logoNavBar {
        height: 22px !important; //CONST-JJE-384
      }
    }
    &.hidden {
      display: none;
    }
  }
  .navBarMenu {
    order: 2;
    display: flex;
    align-items: center;
    gap: min(2vw, 52px);
    @media (max-width: 1280px) {
      button {
        font-size: 12px !important;
        line-height: 14px !important;
        font-weight: 400 !important;
      }
    }
    @media (max-width: 1200px) {
      position: relative;
      transform: translateX(0%);
      left: 0;
      order: 1;
    }
    &.hidden {
      display: none;
    }
  }
}

.navBarIconBtns {
  gap: min(1.46vw, 28px);
  display: flex;
  align-items: center;
  position: relative;
}
.navbarSearchDiv {
  transition: width 300ms ease-in-out;
  width: 20vw;
  cursor: pointer;
  .searchBar {
    @media (max-width: 768px) {
      height: 32px;
      width: 20px;
      border: none;
    }
  }
  &:focus-within {
    width: 50vw;
    @media (max-width: 768px) {
      width: 70vw;
    }
    .searchBar {
      width: 50vw;
      @media (max-width: 768px) {
        width: 68vw;
        margin-left: 2vw;
      }
    }
  }
}
.cartIcon {
  position: relative;

  svg {
    path {
      fill: var(--color-accent);
      stroke: var(--color-accent);
    }
  }
}
.cartCounter {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 9999px;
  background-color: var(--color-success);
  color: var(--color-neutral-a);
  font-weight: 500;
  text-align: center;
  font-size: 12px;
  top: -6px;
  left: 8px;
  @media (max-width: 768px) {
    width: 15px;
    height: 15px;
    left: 10px;
  }

  &.animatedIcon {
    animation: counterAnimation 1200ms ease-in-out infinite;
    @-webkit-keyframes counterAnimation {
      0% {
        transform: scale(1);
      }
      25% {
        transform: scale(1.2);
      }
      50% {
        transform: scale(1);
      }
      75% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }
    @-moz-keyframes counterAnimation {
      0% {
        transform: scale(1);
      }
      25% {
        transform: scale(1.2);
      }
      50% {
        transform: scale(1);
      }
      75% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes counterAnimation {
      0% {
        transform: scale(1);
      }
      25% {
        transform: scale(1.2);
      }
      50% {
        transform: scale(1);
      }
      75% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}
.cartContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .cartContentTopSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 24px;
  }
  .cartContentMiddleSection {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
      width: 3px;
      height: 3px;
    }
    &::-webkit-scrollbar-track-piece {
      background: var(--color-neutral-e) !important;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--color-neutral-a) !important;
    }
  }
  .cartContentBottomSection {
    width: 100%;
    .cartContentSummaryLoader {
      width: 100px;
      margin: auto;
    }
    hr {
      width: 100%;
    }
    .cartContentTotal {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 16px;

      &Amount {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
      }

      &Vat {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
    }
  }
}
.platformMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

@media (max-width: 768px) {
  .cartCounter {
    width: 18px;
    height: 18px;
    font-size: 10px;
    line-height: 18px;
  }
  .navbarSearchDiv {
    width: 24px;
    .searchBar {
      margin-top: 0;
    }
  }
}

.hamburgerIcon {
  path {
    fill: var(--color-neutral-a);
  }
}

.heartNavbarIcon,
.userNavbarIcon {
  path {
    fill: var(--color-cta);
  }
}

.localizationNavbarIcon,
.cartNavbarIcon {
  path:nth-child(1) {
    fill: var(--color-accent);
  }
  path:nth-child(2) {
    stroke: var(--color-accent);
  }
}
