nav {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px; //CONST-KHU-332
  padding-bottom: 22px; //CONST-KHU-332
  height: var(--navbar-height);
  gap: 6vw;
  @media (max-width: 768px) {
    padding-top: 0px; //CONST-LLU-832
    padding-bottom: 0px; //CONST-LLU-832
  }
  transition: 300ms;
}
.navIcon {
  width: 10%;
}
.icon {
  width: 199px;
  @media (max-width: 1600px) {
    width: 100px;
  }
}

.navBarLink {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  position: relative;
  gap: 96px;
}
.navBarIconButtons {
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  width: 20%;
  position: relative;
  .icon {
    width: 24px;
    height: 24px;
  }
}
