.landingPage {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: calc(100vh - var(--navbar-height));
  background-color: var(--color-secondary);
  padding-top: 48px;
  .eventList {
    display: flex;
    align-items: center;
    padding: 24px 0px;
    overflow-y: auto;
    gap: 8vw;
    flex-wrap: wrap;
  }
}
