#root {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-background: #fff;
  --color-primary: #003366;
  --color-secondary: #0099cc;
  --color-accent: #00cc66;
  --color-cta: #ff9900;
  --color-neutral-a: #333;
  --color-neutral-b: #ccc;
  --navbar-height: 113px;

  --standard-page-padding: 12vw; //CONST-GGD-934
  --visual-viewport-height: 100vh;
  @media (max-width: 1600px) {
    --standard-page-padding: 8vw;
  }
  @media (max-width: 1280px) {
    --standard-page-padding: 100px;
  }
  @media (max-width: 960px) {
    --standard-page-padding: 70px;
  }
  @media (max-width: 768px) {
    --standard-page-padding: 48px;
  }
  @media (max-width: 480px) {
    --standard-page-padding: 24px;
  }
}
.standardPaddingSection {
  padding-left: var(--standard-page-padding);
  padding-right: var(--standard-page-padding);
}

a {
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
button:hover {
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 3px; //CONST-SKA-221
    height: 3px;
  }
  &::-webkit-scrollbar-track-piece {
    background: var(--color-neutral-d);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-neutral-c);
  }
}
